/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Roboto+Condensed&display=swap');
/*=========CSS Variable===*/
:root
{
    --header-height:48px;
    /*colors*/
    --first-color:skyblue;
    --gradient-color:linear-gradient(90deg,
    rgb(58, 152, 189),
    rgb(11, 93, 126),);
   --title-color:skyblue;
   --text-color:black;
   --white-color:#fff;
   --body-color:#cfcdcd;

   /*========Fonts=============*/
   /*Font weights*/
   --regular-font:400;
   --medium-font:500;
   --semi-bold-font:600;

   /*=======Z-index============*/
   --z-tooltip:10;
   --z-fixed:100;

   /*==========Font types*/
   --body-font:"Poppins",sans-serif;
   --sec-font:"Lora",serif;
   --biggest-font-size:40px;
   --normal-font-size:15,008px;
   --small-font-size:32px;

}