/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Roboto+Condensed&display=swap');
/*=========CSS Variable===*/
:root
{
    --header-height:48px;
    /*colors*/
    --first-color:skyblue;
    --gradient-color:linear-gradient(90deg,
    rgb(58, 152, 189),
    rgb(11, 93, 126),);
   --title-color:skyblue;
   --text-color:black;
   --white-color:#fff;
   --body-color:rgb(164, 216, 236);

   /*========Fonts=============*/
   /*Font weights*/
   --regular-font:400;
   --medium-font:500;
   --semi-bold-font:600;

   /*=======Z-index============*/
   --z-tooltip:10;
   --z-fixed:100;

   /*==========Font types*/
   --body-font:"Poppins",sans-serif;
   --sec-font:"Lora",serif;
   --biggest-font-size:40px;
   --normal-font-size:15,008px;
   --small-font-size:32px;

}
@media screen and (min-width:1024px) {
    :root {
        --big-font-size:64px;
        --normal-font-size:16;
        --small-font-size:14px;
    }   
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    color: var(--text-color);
    background-color: var(--body-color);
    font-weight: var(--medium-font);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img
{
    height: auto;
    max-width: 100%;
    display: block;
}
.container
{
    margin-inline:24px;
    max-width: 1120px;
}
.main{
overflow: hidden;
}
.header
{
position: fixed;
left: 0;
top: 0;
background-color: var(--body-color);
z-index: var(--z-fixed);
width: 100%;
}

.nav
{
    position: relative;
    height: var(--header-height);
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.nav-logo
{
    width: 36px;
}
.nav-close,.nav-toggle
{
    display: inline-flex;
    font-size: 1.25rem;
    color:var(--title-color);
    cursor:pointer;
}
@media  screen and (max-width:1023px) {
    .nav_menu{
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        box-shadow: 0 1px 16px hsla(210, 55%, 24%, 1);
        padding-block: 3.5rem 2rem;
        display: flex;
        flex-direction: column;
        row-gap:2.5rem;
        transition: top .4s;
    }
}
.nav-list
{
    display: flex;
    flex-direction: column;
    text-align: center;
}